<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Login Page</title>
</head>
<body>
<form (submit)="registerValidate()">
  <table align="center">
    <tr>
      <th colspan="2">Registration</th>
    </tr>
    <tr>
      <td>Name:</td>
      <td><input type="text" [(ngModel)]= "formData.name" name="name"></td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><input type="email" [(ngModel)]= "formData.email" name="email"></td>
    </tr>
    <tr>
      <td>Username:</td>
      <td><input type="text" [(ngModel)]= "formData.username" name="username"></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><input type="password" [(ngModel)]= "formData.password" name="password"></td>
    </tr>
    <tr>
      <td>Phone</td>
      <td><input type="number" [(ngModel)]= "formData.phone" name="phone"></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><input type="submit" value="Register"></td>
    </tr>
  </table>
</form>


</body>
</html>
