<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <div id="tag">
    <h2>Hotel Mayor</h2>
  </div>
  <div class="sidebar" *ngIf="getLogin()"><a href="/editProfile">Edit Profile</a></div>
  <div class="sidebar" *ngIf="!getLogin()"><a href="/login">Login</a></div>
  <div class="sidebar" *ngIf="!getLogin()"><a href="/" (click)="logout()">Logout</a></div>
  <div class="sidebar" *ngIf="getLogin()"><a href="/register">Register</a></div>



  </body>
</html>
