<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
<div>
  <h2>{{this.hotelInfo.hotelName}}</h2>
</div>
<div id="address">
  Address: {{this.hotelInfo.hotelAddress}} <br>
  Phone: {{this.hotelInfo.hotelPhone}}
</div>
<div>
  {{this.hotelInfo.hotelStar}}-star
</div>
<div>
  <!--<img src="http://localhost/public/uploads/{{this.hotelInfo.hotelImage}}">-->
  <img src="https://d197e385f5ejik.cloudfront.net/themulia.com-0029-2014redesign/media/themulia/design/the-suites-overview.jpg?width=460&height=160&ext=.jpg">

</div>
<!--<div id="formCell">-->
  <!--<form (submit)="checkAvailability()">-->
    <!--Check-In Date: <input type="date" [(ngModel)]="available.checkIn" name="checkIn"> <br>-->
    <!--Check-Out Date: <input type="date" [(ngModel)]="available.checkOut" name="checkOut"> <br>-->
    <!--<select name="roomCount" [(ngModel)]="available.roomCount">-->
      <!--<option value="1">1</option>-->
      <!--<option value="2">2</option>-->
      <!--<option value="3">3</option>-->
      <!--<option value="4">4</option>-->
      <!--<option value="5">5+</option>-->
    <!--</select>-->
    <!--<input type="submit" name="Check Availability">-->
  <!--</form>-->
<!--</div>-->
</body>
</html>
